.idea
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
debug
captures
.externalNativeBuild
.cxx
local.properties
debug-mergeJavaRes/
debug-mergeNativeLibs/
compileDebugKotlin
/‏‏SmartSitterClient/app/src/test
/‏‏SmartSitterClient/app/src/androidTest
/SmartSitterClient/app/build/intermediates/incremental/mergeDebug*
/_.idea
/SmartSitterClient/app/src/test/java/com/example/smartsitterclient/ExampleUnitTest.kt
/SmartSitterClient/app/src/androidTest/java/com/example/smartsitterclient/ExampleInstrumentedTest.kt
/SmartSitterClient/app/build/outputs/logs/manifest-merger-debug-report.txt
/SmartSitterClient/app/build/intermediates/incremental/processDebugResources/
/SmartSitterClient/app/build/intermediates/*/debugAndroidTest/
/SmartSitterServer/__pycache__/algorithms.cpython-38.pyc
/SmartSitterServer/__pycache__/
/SmartSitterServer/config.py
