‏‏SmartSitterClient/*.iml
‏‏SmartSitterClient/.gradle
SmartSitterClient//local.properties
SmartSitterClient//.idea/caches
SmartSitterClient//.idea/libraries
SmartSitterClient//.idea/modules.xml
SmartSitterClient//.idea/workspace.xml
SmartSitterClient//.idea/navEditor.xml
SmartSitterClient//.idea/assetWizardSettings.xml
SmartSitterClient/.DS_Store
SmartSitterClient//build
SmartSitterClient//captures
SmartSitterClient/.externalNativeBuild
SmartSitterClient/.cxx
SmartSitterClient/app/src/androidTest
SmartSitterClient/app/src/test
SmartSitterClient/.gitignore